<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type='text/javascript'>
    jQuery(function($) {
        setTimeout(function() {
            $('.pointsissue_mapss').dialog({
                width: 600,
                height: 450,
                modal: true,
                autoOpen: false
            });
        },000);

    });</script>


<div class="pointsissue_block">
    {if $title}<h2>{$title}</h2>{/if}
    {foreach from=$points item=point}
    <div class="pointsissue_item">
        <span>{$point.name}</span>
        {if $point.map}
        &nbsp;<span><a onclick="$('#pointsissue_map_{$point.id}').dialog();"  href="javascript:void(0);">{$link_name}</a></span>
        <div id="pointsissue_map_{$point.id}" class="pointsissue_map"><div>{$point.map}</div></div>
        {/if}
    </div>
    {/foreach}
</div>